*{
    margin: 0;
    padding: 0;
}
.info{
    text-align: center;
    padding: 100px;
    line-height: 100px;
    color: #5f6368;
    font-size: 150%;
}
.info h4{
    opacity: 0.7;
    font-weight: inherit;
}
.info .content{
    border: 1px solid gray;
    box-shadow: grey 5px 5px 5px;
    padding: 0px 100px;
}
.info .row {
    display: flex;
    border-bottom: grey 1px solid;
    padding: 0px 30px;
}
.info .row label{
    flex: 30%;
    text-align: left;
}

.info .row p{
    flex: 70%;
    text-align: left;
}