.cata-item img{
    width: 50px;
    height: auto;
    border-radius: 50%;
    border: 5px solid rgb(82, 82, 207);
}
.cata-item {
    padding: 10px;
    display: flex;
    width: 250px;
}
.cata-item h3{
    margin: auto;
    background-color: rgb(244, 244, 244);
    padding: 10px;
    border-radius: 75px;
    width: 200px;
    margin: auto;
}
.catalog {
    /* position: relative; */
    display: flex;
    flex-wrap: wrap;
    padding:25px 0px;
    text-align: center;
    justify-content: center;
    min-width: 1000px;
}


.cata-item a{
    color: black;
    text-decoration: none;
}

.cata-item .dropdown-type {
   position: relative;
    display: inline-block;
  }
  
  .cata-item .dropdown-content-type{
    display: none;
    position: absolute; 
    background-color: #f9f9f9;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    font-size: 150%;
    border-radius: 10px;
    z-index: 1;
    right: 0px;
  }
  .cata-item .dropdown-content-type a{
    display: block;
    width: 200px;
    text-align: left;
  }
  .cata-item .dropdown-content-type a:hover{
    background-color: rgb(75, 75, 241);
    color: white;
  }

  .dropdown-type:hover .dropdown-content-type {
    display: flex  ;
  }