* {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.header {
    display: flex;
    padding: 20px 50px;
    background-color: #222;
    border-color: #080808;
    color: #9d9d9d;
    position: sticky;
    width: 100%;
    top: 0px;
}

.header .left {
    flex: 50%;
    display: flex;
}

.header .right {
    flex: 50%;
    text-align: right;
}

.header .logo {
    font-size: 150%;
    font-weight: bolder;
    padding-right: 25px;
}

.header .website a {
    font-size: 120%;
    color: #818181;
    text-decoration: none;
    margin: auto 0px;
}
.header .website  {
    margin: auto 0px;
}

/* sidebar */

.sidenav {
    height: 100%;
    flex: 20%;
    position: fixed;
    z-index: 1;
    top: 74;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 18px;
    color: #818181;
    display: block;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.main {
    margin-left: 160px;
    /* Same as the width of the sidenav */
    font-size: 28px;
    /* Increased text to enable scrolling */
    padding: 0px 10px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}

.dashboard {
    padding: 100px 25px 0px 225px;
}

.dashboard .info {
    display: flex;
}

.dashboard .group {
    width: 250px;
    /* padding: 10px 20px 0px 20px; */
    height: 147px;
    margin: 0px;
    margin-right: 50px;
    color: white;
    border-radius: 20px;
    display: list-item;
}

.dashboard .group .row {
    display: flex;
    margin: 0;
    
}

.dashboard .group .row .nd {
    text-align: right;
    margin: auto;
}
.dashboard .group .row i{
    margin: auto;
}
.dashboard .group .row2 i{
    margin: auto;
    font-size: 110%;
}

.dashboard .group .row .nd label {
    font-size: 50px;
}

.dashboard .group .row2 {
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    border-radius: 0px 0px 20px 20px;
    padding: 10px 25px;
}

.dashboard .group .row2 a {
    color: #337ab7;
    text-decoration: none;
}

.dashboard .group1 {
    background-color: #337ab7;
    border-color: #337ab7;
}
.dashboard .group2 {
    border-color: #5cb85c;
    background-color: #5cb85c;
}
.dashboard .group3 {
    border-color: #f0ad4e;
    background-color: #f0ad4e;
}
.dashboard .group4 {
    border-color: #d9534f;
    background-color: #d9534f;
}

.table{
    padding: 50px 0px 0px 225px;
}
.table table{
    border-collapse: collapse;
}
.table caption #cap{
    font-size: 150%;
    color: black;
    font-weight: bold;
    padding-left: 100px;

    margin-bottom: 20px;
}
.table caption {
    border-bottom: gray solid 2px;
    margin-bottom: 20px;
}

.table #add {
    display: inline-block;
    margin-left: 350px;
}
.table table,th,td{
    border: 1px rgb(194, 193, 193) solid;
    text-align: center;
}
.table .w3-button {
    padding: 2px 5px ;
    border-radius: 4px;
    margin-bottom: 10px;
}
.table .w3-container{
    text-align: left;
}
.table .w3-modal-content{
    padding: 10px 50px;
}
.table .w3-container .row{
    display: flex;
}
.table .w3-container .row label {
    flex: 20%;
    padding: 10px 10px;
}
.table .w3-container .row input {
    flex: 70%;
    border-radius: 5px;
}

.table .w3-container .row .w3-button{
    width: 300px;
}
.table select{
    flex: 70%;
    height: 35px;
    border-radius: 5px ;
}

.table a{
    border: red 1px solid;
    color: red;
    text-decoration: none;
    padding: 2px 5px ;
    border-radius: 4px;
}
.table a:hover{
    border: red 1px solid;
    color: white;
    background-color: red;
    text-decoration: none;
}

.userList th,td {
    padding: 10px;
}

.search {
    display: inline-block;
}

#searchBtn {
    background-color: white;
    border: none;
}